*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
}

main{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    /* grid-gap: 1.2rem; */
    /* border: 3px solid red; */
}
main .card{
    /* border: 2px dotted black; */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

main .card:first-child{
    background-color: hsl(31, 77%, 52%)  ;
}

main .card:nth-child(2){
    background-color:hsl(184, 100%, 22%) ;
}

main .card:last-child{
    background-color: hsl(179, 100%, 13%);
}
main .card h3{
    color: hsl(0, 0%, 95%);
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;

    margin-bottom: 20px;
}
main .card p{
    color:  hsla(0, 0%, 100%, 0.75);
    margin-bottom: 30px;
    line-height: 1.4rem;
}

main .card .btn{
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}
